<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= pageTitle %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/theme.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- <nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Temple</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="<%= path === '/' ? 'active': '' %>"><a href="/">Home</a></li>
          
                    <% if (isAuth) {%>
                    <li class="<%= path === '/donate'? 'active': ''%>"><a href="/place-order">Donate</a></li>
                    <li class="<%= path === '/transaction' ? 'active': ''%>"><a href="/transactions">Transactions</a>
                    </li>
                    <li class="<%= path === '/create-expenditure' ? 'active': ''%>"><a
                            href="/create-expenditure">Expenditure</a></li>
                    <% } %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if (!isAuth) {%>
                    <li class="<%= path === '/login'? 'active': ''%>"><a href="/log-in"><span
                                class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li class="<%= path === '/signup'? 'active': ''%>"><a href="/signup"><span
                                class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <% } else { %>
                    <li>
                        <form action="/log-out" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                            <button type="submit" class="cus-button glyphicon glyphicon-log-out"> Logout</button>
                        </form>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav> -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Temple</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" id="myNavbar">
                    <% if (isAuth) {%>
                    <li class="<%= path === '/donate'? 'active': ''%>"><a href="/place-order">Donate</a></li>
                    <li class="<%= path === '/transaction' ? 'active': ''%>"><a href="/transactions">Transactions</a>
                    </li>
                    <li class="<%= path === '/create-expenditure' ? 'active': ''%>"><a
                            href="/create-expenditure">Expenditure</a></li>
                    <li class="<%= path === '/profile' ? 'active': ''%>"><a
                            href="/profile">Profile</a></li>
                    <% } %>
                    <% if (!isAuth) {%>
                    <li class="<%= path === '/login'? 'active': ''%>"><a href="/log-in"><span
                                class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li class="<%= path === '/signup'? 'active': ''%>"><a href="/signup"><span
                                class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <% } else { %>
                    <li>
                        <form action="/log-out" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                            <button type="submit" class="cus-button glyphicon glyphicon-log-out"> Logout</button>
                        </form>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>