<%- include('../includes/nav.ejs')%>
<div class="container">
    <% if(message != null) { %>
    <div class="row">
        <div class="col-md-12">
            <p><%= message%>
        </div>
    </div>
    <% } %>
    <% if (errorsMessage) { %>
    <div class="alert alert-danger">
        <strong>Errors!</strong>
        <% for(var i =0; i <errorsMessage.length ;i++) { %>
        <p>
            <%= i + 1%> <%= errorsMessage[i].msg%>
        </p>
        <% } %>
    </div>
    <% } %>
    <% if(message == null) { %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background-color:lavender;">
            <form action="/reset-password" method="POST">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input class="form-control" type="password" name="confirmPassword">
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                    <input type="hidden" name="email" value="<%= user.email %>">

                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <% } %>
</div>
<%- include('../includes/footer.ejs')%>
